body {
  margin: 0;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

img {
  margin: 10px;
}

.body-spacer {
  margin: 1rem;
}

.footer {
  position: fixed;
  bottom: 0;
  background-color: white;
}

.main {
  padding-bottom: 30px
}
